.map-container {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    }

   
   .page-container {
    display: inline-block;
    z-index: 1 !important;
    background-color: rgb(64, 64, 64, .8);
    color: rgb(245, 244, 239);
    font-weight: bold;
    padding: 6px;
    margin: 12px;
        }


    .page-container a {
        color: rgb(64, 64, 64);
        text-decoration: none;
        text-align: center;
    }

    .page-container a:hover {
        color: rgb(114, 112, 112)
    }

    .page-container h2 {
        font-size: 16px;
    }

    .sidebar-container {
        display: flex;
        flex-direction: column;
    }


    .sidebar-container h1 {
     font-size: 18px;
      }


    .sidebar-container button {
     border: none;
        }

    .logout {
    position: absolute;
    bottom: 24px;
    right: 16px;
    }

/* tablet */
@media screen and (max-width: 768px){
 .map-container {
    z-index: -1;
 }
}

 /* mobile */
@media screen and (max-width: 480px){
.page-container {
    display: flex;
    width: 248px;
    margin: 12px auto
}
.sidebar-container h1 {
    font-size: 12px;
}
.sidebar-container h2 {
    font-size: 10px;
}
.sidebar-container button {
    width: 100%;
}
.logout {
    bottom: 5px;
    right: 0px;
}
}