.map-container {
    position: absolute;
    z-index: -1;
    /* top: 50px; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* margin-top: 44px; */
    width: 100%;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    }

   
    .page-container {
        display: inline-block;
        z-index: 1 !important;
        background-color: #404040;
        /* background-color: rgb(87, 84, 61); */
        color: rgb(245, 244, 239);
        font-weight: bold;
        padding: 6px;
        margin: 12px;
        top: 0;
        left: 0;
        }

    .page-container a {
        color: rgb(64, 64, 64);
        text-decoration: none;
        text-align: center;
    }

    .page-container a:hover {
        color: rgb(114, 112, 112)
    }

    .page-container h2 {
        font-size: 16px;
    }

    .sidebar-container {
        display: flex;
        flex-direction: column;
    }


    .sidebar-container h1 {
          font-size: 18px;
      }


    .sidebar-container button {
            border: none;
        }


        @media screen and (max-width: 700px){
            .map-container {
                z-index: -1;
            }
          }