.form-container {
    background-color: rgb(245, 244, 239);
    height: 100vh;
    position: relative;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0; 
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-container textarea, select, input:not([type='checkbox']) {
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 5px;
    border: none;
} 

.form-container textarea {
    height: 80px
}


.checkboxes {
display: flex;
flex-direction: column;
}

input[type="checkbox"] {
    /* display: none; */
}

span {
    margin-left: 10px;
}

.form-container button {
    margin-top: 15px;
    height: 35px;
    border: none;
    background-color: rgb(193,204, 215);
    color: rgb(64, 64, 64);
    font-weight: bold;
    font-size: 16px
}

.form-container button:hover {
    background-color: rgb(179, 196, 212)
}



/* tablet */
@media screen and (max-width: 768px){
    .form-container form {
        width: 75%;
    }
}


 /* mobile */
 @media screen and (max-width: 480px){
    .form-container textarea, select, input:not([type='checkbox']) {
        font-size: 10px;
    }

 }